# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Data
dataset/
db/
*.csv
*.xlsx
*.parquet

# Machine Learning
ml/models/

# GenAI
genai/chroma_store/

# Jupyter
.ipynb_checkpoints

# OS Files
.DS_Store
Thumbs.db
